
.mainFxmlClass {

}
.nav_top_btn{
    -fx-background-color: linear-gradient(to bottom, #87CEEB, #00BFFF);
    -fx-cursor: hand;
    -fx-background-radius: 5;
    -fx-padding: 5 10 5 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 5);
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.nav_top_btn:hover{
    -fx-background-color: linear-gradient(#d3d3d3, #a9a9a9);
    -fx-cursor: hand;
    -fx-background-radius: 5;
    -fx-padding: 5 10 5 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 5);
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}